body {
    margin: 3%;
    background-color: #ddd;
}

#profile {
    color: #777;
    position: fixed;
    right: 10px;
    top: 10px;
}

.spacer0200 {
    padding: 2% 0;
}

.spacer0500 {
    padding: 5% 0;
}

.xspacer01 {
    padding: 0 3px;
}

.span {
    display: inline-block;
	width: 40px;
    text-align: right;
}

.d-none {
    display: none;
}
